<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdcloud.kono.mapper.ErpInstancemoduleMapper">
  <resultMap id="BaseResultMap" type="com.wdcloud.kono.model.ErpInstancemodule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="id_instancemodule" jdbcType="BIGINT" property="idInstancemodule" />
    <result column="id_anneescolaire" jdbcType="BIGINT" property="idAnneescolaire" />
    <result column="id_module" jdbcType="BIGINT" property="idModule" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="batchInsert">
    INSERT INTO `erp_instancemodule`( `id_instancemodule`, `id_anneescolaire`, `id_module`,
    `status`, `create_time`, `update_time`)
    VALUES
    <foreach collection="list" item="item" separator=",">
      ( #{item.id_instancemodule},  #{item.Id_module},  #{item.id_anneescolaire},
      0,now(),now() )
    </foreach>
  </insert>
</mapper>